{% extends 'blog/base.html' %}

{% block content %}
<!-- Page Content -->
    {% for post in posts %}
    <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.text|linebreaksbr }}</p>
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More...</a>
            </div>
            <div class="card-footer text-muted date">
                    {{ post.published_date }} by {{ post.author }}
            </div>
          </div>
    {% endfor %}
{% endblock content %}